.pills {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.pill {
    width: 80px;
    height: 80px;
}

.subjektify {
    background-color: #aaccff;
}

.subjekt {
    background-color: #25b6d2;
}

.plugin {
    background-color: #76c2af;
}

.blueprint {
    background-color: #f1543f;
}

.universe {
    background-color: #667bbb;
}