.pills {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

.pill {
    width: 80px;
    height: 80px;
}

.tool {
    height: 25rem;
}

:root {
    --subjektify-light: #d9e6ff;
    --subjekt-light: #b3e6f0;
    --plugin-light: #cfe7e0;
    --blueprint-light: #f9b0a8;
    --universe-light: #a2b1d4;
    --composer-light: #a3d8c9;

    --subjektify-dark: #335a99;
    --subjekt-dark: #1d5e6b;
    --plugin-dark: #4d6e66;
    --blueprint-dark: #992b26;
    --universe-dark: #3d4f77;
    --composer-dark: #4e8f7d;
}

.subjektify {
    background-color: var(--subjektify-light);
}

.subjekt {
    background-color: var(--subjekt-light);
}

.plugin {
    background-color: var(--plugin-light);
}

.blueprint {
    background-color: var(--blueprint-light);
}

.universe {
    background-color: var(--universe-light);
}

.composer {
    background-color: var(--composer-light);
}

[data-theme='dark'] .subjektify {
    background-color: var(--subjektify-dark);
}

[data-theme='dark'] .subjekt {
    background-color: var(--subjekt-dark);
}

[data-theme='dark'] .plugin {
    background-color: var(--plugin-dark);
}

[data-theme='dark'] .blueprint {
    background-color: var(--blueprint-dark);
}

[data-theme='dark'] .universe {
    background-color: var(--universe-dark);
}

[data-theme='dark'] .composer {
    background-color: var(--composer-dark);
}

.rightMargin {
    margin-right: 0.75rem;
}